@import "../../../static/config";

.Icon {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-right {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-top: solid 1.5px $gray-97;
  border-right: solid 1.5px $gray-97;
  margin-bottom: 2px;
  margin-right: 2px;
}

.icon-close {
  width: 28px;
  height: 28px;
  background: url("../../../static/img/icon-close.svg") center center no-repeat;
  background-size: contain;
}

.icon-close-round {
  width: 26px;
  height: 26px;
  background: url("../../../static/img/icon-close-round.svg") center center no-repeat;
  background-size: contain;
}

.icon-close-round-white {
  width: 30px;
  height: 30px;
  background: url("../../../static/img/icon-close-round-white.svg") center center no-repeat;
  background-size: contain;
}

.icon-check {
  width: 28px;
  height: 28px;
  background: url("../../../static/img/icon-check.svg") center center no-repeat;
  background-size: contain;
}

.icon-upload-img {
  width: 28px;
  height: 28px;
  background: url("../../../static/img/icon-upload-img.svg") center center no-repeat;
  background-size: contain;
}

.icon-the-end {
  width: 46px;
  height: 12px;
  background: url("../../../static/img/icon-the-end.png") center center no-repeat;
  background-size: contain;
}

.icon-spinner {
  width: 16px;
  height: 16px;
  background: url("../../../static/img/icon-spinner.svg") center center no-repeat;
  background-size: contain;
  animation: rotate 1s linear infinite;
}
.icon-thumb-unselect {
  width: 22px;
  height: 22px;
  background: url("../../../static/img/thumb_unselect.svg") center center no-repeat;
  background-size: contain;
}
.icon-thumb-dark-unselect{
  width: 22px;
  height: 22px;
  background: url("../../../static/img/thumb_unselect_dark_mode.svg") center center no-repeat;
  background-size: contain;
}
.icon-thumb-selected {
  width: 22px;
  height: 22px;
  background: url("../../../static/img/thumb_selected.svg") center center no-repeat;
  background-size: contain;
}
.icon-thumb-dark-selected {
  width: 22px;
  height: 22px;
  background: url("../../../static/img/thumb_selected_dark_mode.svg") center center no-repeat;
  background-size: contain;
}
.icon-dot {
  width: 28px;
  height: 28px;
  background: url("../../../static/img/icon-dot.svg") center center no-repeat;
  background-size: contain;
}
.icon-loading-dark {
  width: 25px;
  height: 25px;
  background: url("../../../static/img/icon_loading_dark.svg") center center no-repeat;
  background-size: contain;
}
.icon-loading-light {
  width: 25px;
  height: 25px;
  background: url("../../../static/img/icon_loading_light.svg") center center no-repeat;
  background-size: contain;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
