@import "./config";

.thumbsUp-enter {
  opacity: 0;
  transform: scale(2, 2)
}

.thumbsUp-enter-active {
  transition: all 1s ease;
}

.thumbsUp-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.thumbsUp-leave {
  display: none;
}

.comment-card-light {
  display: flex;
  align-items: flex-start;
  padding: 15px 0 0 17px;

  .left {
    min-width: 40px;
    min-height: 40px;
    margin-right: 12px;

    .avatar {
      border: 1px white solid;
      width: 40px;
      height: 40px;
    }
  }

  .right {
    width: 100%;
    padding-right: 18px;
    padding-bottom: 11px;
    border-bottom: .5px $gray-ed solid;
    display: flex;
    flex-direction: column;

    .right-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .name-container {
        display: flex;
        flex-direction: column;

        .name {
          font-family: $FONT-FZLTZCHJW;
          color: $black-44;
          line-height: 1;
        }

        .reply-to {
          font-family: $FONT-FZLTHJW;
          font-size: 10px;
          color: $gray-88;
          margin-top: 7px;
        }
      }

      .like {
        font-family: $FONT-FZLTZCHJW;
        display: flex;
        align-items: center;

        span {
          margin-right: 3px;
          font-size: 12px;
        }
      }
    }

    .right-middle {
      margin-top: 10px;

      .comment-text {
        font-family: $FONT-FZLTHJW;
        line-height: 1.5;
        white-space: pre-line;
      }

      .comment-img {
        margin-top: 8px;

        img {
          max-width: 170px;
          max-height: 192px;
          object-fit: cover;
          object-position: center center;
          border-radius: 4px;
        }
      }

      .parent-reply {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 10px 10px 10px 8px;
        margin-top: 10px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.1);

        .parent-reply-left {
          min-width: 30px;
          min-height: 30px;
          margin-right: 12px;

          .avatar {
            width: 30px;
            height: 30px;
            object-fit: cover;
            object-position: center center;
            border-radius: 50%;
          }
        }

        .parent-reply-right {
          .name {
            font-family: $FONT-FZLTZCHJW;
            color: $gray-a5;
          }

          .parent-reply-text {
            margin-top: 4px;
            font-family: $FONT-FZLTHJW;
            color: $gray-a5;
            white-space: pre-line;
          }

          .parent-reply-img {
            margin-top: 8px;

            img {
              max-width: 170px;
              max-height: 192px;
              object-fit: cover;
              object-position: center center;
              border-radius: 4px;
            }
          }
        }
      }
    }

    .right-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      font-family: $FONT-FZLTZCHJW;
      font-size: 12px;
      color: $gray-88;

      .right-bottom-left {
        display: flex;

        .view-conversation {
          margin-right: 15px;
        }

        .reply {
          margin-right: 15px;
        }

        .create-time {
          font-family: $FONT-FZLTHJW;
        }
      }
    }
  }
}
