@import "./config";
.thumbsUp-enter{
  opacity: 0;
  transform: scale(2,2)
}
.thumbsUp-enter-active{
  transition: all 1s ease;
}
.thumbsUp-enter-to{
  opacity: 1;
  transform: translateY(0);
}
.thumbsUp-leave{
  display: none;
}
.comment-card-light {
  display: flex;
  align-items: flex-start;
  padding: 0.15rem 0 0 0.17rem;

  .left {
    min-width: .40rem;
    min-height: .40rem;
    margin-right: .12rem;

    .avatar {
      border: .01rem white solid;
      width: .40rem;
      height: .40rem;
    }
  }

  .right {
    width: 100%;
    padding-right: .18rem;
    padding-bottom: .11rem;
    border-bottom: .01rem $gray-ed solid;
    display: flex;
    flex-direction: column;

    .right-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name-container {
        display: flex;
        flex-direction: column;

        .name {
          font-family: $FONT-FZLTZCHJW;
          color: $black-44;
          line-height: 1;
        }

        .reply-to {
          font-family: $FONT-FZLTXIHJW;
          font-size: .10rem;
          color: $gray-88;
          margin-top: .07rem;
        }
      }

      .like {
        font-family: $FONT-FZLTZCHJW;
        display: flex;
        align-items: center;

        span {
          margin-right: .03rem;
          font-size: .12rem;
        }
        .icon-thumbs-unlike{
          width: 0.22rem;
          height: 0.22rem;
          background: url("../static/img/thumb_unselect.svg") center center no-repeat;
          background-size: contain;
        }
        .icon-thumbs-like{
          width: .22rem;
          height: .22rem;
          background: url("../static/img/thumb_selected.svg") center center no-repeat;
          background-size: contain;
        }
      }
    }

    .right-middle {
      margin-top: .10rem;

      .comment-text {
        font-family: $FONT-FZLTXIHJW;
        line-height: 1.5;
      }

      .comment-img {
        margin-top: 0.08rem;

        img {
          max-width: 1.70rem;
          max-height: 1.92rem;
          object-fit: cover;
          object-position: center center;
          border-radius: .04rem;
        }
      }

      .parent-reply {
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: .10rem .10rem .10rem .08rem;
        margin-top: .10rem;
        border-radius: .04rem;
        background-color: rgba(0, 0, 0, 0.1);

        .parent-reply-left {
          min-width: .30rem;
          min-height: .30rem;
          margin-right: .12rem;

          .avatar {
            width: .30rem;
            height: .30rem;
            object-fit: cover;
            object-position: center center;
            border-radius: 50%;
          }
        }

        .parent-reply-right {
          .name {
            font-family: $FONT-FZLTZCHJW;
            color: $gray-a5;
          }

          .parent-reply-text {
            margin-top: .04rem;
            font-family: $FONT-FZLTXIHJW;
            color: $gray-a5;
          }

          .parent-reply-img {
            margin-top: .08rem;

            img {
              max-width: 1.70rem;
              max-height: 1.92rem;
              object-fit: cover;
              object-position: center center;
              border-radius: .04rem;
            }
          }
        }
      }
    }

    .right-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: .05rem;
      font-family: $FONT-FZLTZCHJW;
      font-size: .12rem;
      color: $gray-88;

      .right-bottom-left {
        display: flex;

        .view-conversation {
          margin-right: .15rem;
        }

        .reply {
          margin-right: .15rem;
        }

        .create-time {
          font-family: $FONT-FZLTXIHJW;
        }
      }
      .icon-dot{
        width: .28rem;
        height: .28rem;
        background: url("../static/img/icon-dot.svg") center center no-repeat;
        background-size: contain;
      }
    }
  }
}
