$iPadWidth: 768px;
$iPhoneWidth: 375px;
$gray-ed: #ededed;
$FONT-FZLTXIHJW: FZLTXIHJW;
$FONT-FZLTZCHJW: FZLTZCHJW;
$gray-88: #888888;
$gray-b3: #b3b1b1;
$gray-a5: #a5a5a5;
$black-44: #444444;
$black-30: #30302f;
$white: #ffffff;
$border-dark-gray: rgba(255, 255, 255, 0.2);
$gray-97: #979797;
$nav-height: 0.47rem;
$reply-height: 0.66rem;
$safe-area: 0.34rem;

