@import "./config";

.thumbsUp-enter {
  opacity: 0;
  transform: scale(2, 2)
}

.thumbsUp-enter-active {
  transition: all 1s ease;
}

.thumbsUp-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.thumbsUp-leave {
  display: none;
}

.feed-card-light {
  display: flex;
  align-items: flex-start;
  padding: 15px 0 0 17px;

  .left {
    min-width: 40px;
    min-height: 40px;
    margin-right: 12px;

    .avatar {
      border: 1px white solid;
      width: 40px;
      height: 40px;
    }
  }

  .right {
    width: 100%;
    padding-right: 18px;
    padding-bottom: 12px;
    border-bottom: 1px $gray-ed solid;
    display: flex;
    flex-direction: column;

    .right-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 22px;

      .name-container {
        display: flex;
        flex-direction: column;

        .name {
          max-width: 230px;
          font-family: $FONT-FZLTZCHJW;
          color: $black-44;
          line-height: 1;

          //单行
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-clamp: 1;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }

      .like {
        font-family: $FONT-FZLTZCHJW;
        display: flex;
        align-items: center;

        span {
          margin-right: 3px;
          font-size: 12px;
        }
      }
    }

    .right-middle {
      margin-top: 10px;

      .comment-text {
        font-family: $FONT-FZLTHJW;
        line-height: 1.5;
        white-space: pre-line; // 保留换行，不保留空格
        word-break: break-all;
        .nick {
          font-family: $FONT-FZLTZCHJW;
        }
      }

      .comment-img {
        margin-top: 8px;

        img {
          max-width: 170px;
          max-height: 192px;
          object-fit: cover;
          object-position: center center;
          border-radius: 4px;
        }
      }

      .replies {
        padding: 10px 14px 14px 14px;
        margin-top: 10px;
        border-radius: 4px;
        background-color: $gray-f5;
        font-size: 12px;
        .reply-cell {
          margin-top: 6px;
          font-family: $FONT-FZLTHJW;
          line-height: 1.5;
          letter-spacing: 0.3px;
          color: $gray-a5;
          //两行
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          .nickname {
            color: $black-44;
          }
          .reply-to {
            color: $gray-a5;
          }
          &:first-child {
            margin-top: 0;
          }
        }
        .view-all-replies {
          color: $blue-btn;
          margin-top: 10px;
          font-family: $FONT-FZLTZCHJW;
          font-weight: lighter;
        }
      }
    }

    .right-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      font-family: $FONT-FZLTZCHJW;
      font-size: 12px;
      color: $gray-88;

      .right-bottom-left {
        display: flex;

        .reply {
          margin-right: 15px;
        }

        .create-time {
          font-family: $FONT-FZLTHJW;
        }
      }
    }
  }
}
