@font-face {
  font-family: "FZLTZCHJW"; /* FZLTZCHJW-GB1-0 方正兰亭中粗黑 */
  src: url('https://static1.thefair.net.cn/h5/font/ZCH_%E6%96%B9%E6%AD%A3%E5%85%B0%E4%BA%AD%E4%B8%AD%E7%B2%97%E9%BB%91.otf');
}

@font-face {
  font-family: "FZLTZHJW"; /* FZLTZHJW-GB1-0 方正兰亭中黑体*/
  src: url('https://static1.thefair.net.cn/h5/font/ZH_%E6%96%B9%E6%AD%A3%E5%85%B0%E4%BA%AD%E4%B8%AD%E9%BB%91.otf');
}

@font-face {
  font-family: "FZLTXHJW";  /* FZLTXHJW-GB1-0 方正兰亭细黑*/
  src: url('https://static1.thefair.net.cn/h5/font/XH_%E6%96%B9%E6%AD%A3%E5%85%B0%E4%BA%AD%E7%BB%86%E9%BB%91.otf');
}

@font-face {
  font-family: "FZLTHJW"; /* FZLTHJW-GB1-0 方正兰亭黑体*/
  src: url('https://static1.thefair.net.cn/h5/font/H_%E6%96%B9%E6%AD%A3%E5%85%B0%E4%BA%AD%E9%BB%91%E4%BD%93.otf');
}
